:host {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0 1vw;
  padding: 35vh 0;
  height: 100%;
  width: fit-content;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  p {
    transition: 300ms opacity ease-in-out;
    opacity: 0;
  }
  &:hover {
    p {
      opacity: 1;
    }
  }
}

.indicator {
  width: 10px;
  height: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background: var(--bg-color);
  transition: 300ms background ease-in-out;
}

.active {
  transition: 300ms background ease-in-out;
  background: var(--primary-color);
}

.title {
  margin-right: 1ch;
}
