<ng-container *ngIf="pages">
  <a *ngFor="let page of pages" [href]="'#' + page.name">
    <p class="title">{{ page.title }}</p><div [className]="(page.name == (current | async)) ? 'active indicator' : 'indicator'"></div>
  </a>
</ng-container>
