@import "../../../styles/box-shadow.scss";
@import "../../../styles/color-scheme.scss";

a {
  fa-icon {
    color: var(--primary-color);
  }
  background: var(--bg-color);
  @include box-shadow-1dp;
  outline: 0;
  width: fit-content;
  display: block;
  margin: 0 1em;
  padding: 1em;
  color: var(--font-color);
  text-decoration: none;
  transition: box-shadow 100ms ease-in-out, background 300ms ease-in-out;
  &:hover {
    @include box-shadow-6dp;
  }
  &:active {
    @include box-shadow-3dp;
  }
}
