@import "../../../styles/color-scheme.scss";

:host {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 2fr 6fr 2fr;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
}

article ::ng-deep {
  grid-area: content;
  height: 100%;
  min-width: 0;
  transition: color 300ms linear;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr fit-content;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: width 300ms ease-out;

  ul {
    width: 100%;
    padding-inline-start: 0;
  }

  li {
    width: 100%;
    list-style: none;
  }

#gridOfIcons {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  svg {
    width: 100%;
    height: 100%;
  }
}
  .socials {
    display: flex;
    margin: 1em 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  aside {
    grid-area: img;
  }
  img {
    clip-path: circle(50% at 50% 50%);
    height: auto;
    width: 100%;
    object-fit: contain;
    &.noClipping {
      clip-path: none;
    }
  }
  h1 {
    font-size: 2em;
    color: var(--primary-color);
  }
  h1,
  h2 {
    width: fit-content;
    margin: 1vh 0;
  }

  header {

    h1,
    h2 {
      margin: 0 auto;
    }

    grid-area: header;
    margin: 1em 1em;
  }

  * {
    z-index: 0;
  }
}

article.noaside ::ng-deep {
  header {
    h1 {
      font-size: 3em;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  article ::ng-deep {
    grid-template-areas:
      "header header header"
      "img img img";
      #gridOfIcons {
        svg {
          height: 15vh;
        }
      }
  }

  header {
    text-align: left;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  article ::ng-deep {
    grid-template-areas:
      "header header header"
      "img img img";
    #gridOfIcons {
      svg {
        height: 15vh;
      }
    }
  }

  header {
    text-align: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  article.left {
    grid-template-areas:
      "img header header"
      "img header header";
  }
  article.right {
    grid-template-areas:
      "header header img"
      "header header img";
  }
  article.noaside {
    grid-template-areas:
      "header header header"
      "header header header";
  }

  header {
    text-align: left;
  }
}
