@import "../styles/color-scheme.scss";

:host {
  display: block;
  height: fit-content;
}


main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: fit-content;
  padding: 1em 0;
  width: 100%;
  text-align: center;
  p {
    color: var(--primary-color);
  }
}
