/* You can add global styles to this file, and also import other style files */
@import "./styles/color-scheme.scss";

html, body, h1, h2, h3, h4, p {
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: var(--background);
  background-color: var(--bg-color);
  transition: background 300ms linear;
  scroll-behavior: smooth;
}

h1, h2 {
  color: var(--heading-color);
}
p, li {
  color: var(--font-color);
}
